@import "../../style.css";

#bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: var(--color-white-base);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card_static {
    width: 100%;
    height: auto;
    background: var(--color-red);
    border-radius: 20px 20px 0px 0px;
}

.card_title {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 18px;
    align-items: center;
    color: var(--color-white-base);
}

.card_title i {
    color: var(--color-white-base);
    font-size: 28px;
}

.card_body {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.card_body p {
    color: var(--color-white-base);
    margin: 0;
}

.label_input {
    color: var(--color-white-base);
    display: flex;
    width: auto;
    gap: 10px;
}

.caption {
    margin-right: 85px;
    margin-bottom: -3px;
}

input {
    width: 680px;
    padding: 5px 13px;
    border: none;
    background: var(--color-white-base);
    border-radius: 5px;
}

.container_inputs {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.card_questions {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 30px 5%;
    gap: 20px;
}

h5 {
    margin: 0;
}

.card_sub {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_sub p {
    margin: 0;
}

.container_slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: center;
}

.container_slider p {
    margin: 20px 0 0 -20px;
}

.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_questions {
    display: flex;
    justify-content: space-between;
}

.each_option {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: self-end;
    margin-top: 10px;
    margin-bottom: 5px;
}

.each_option p {
    margin: 0;
}

.button_icon {
    width: 30px;
    height: 30px;
    background: var(--color-accent);
    border: none;
    border-radius: 5px;
    color: var(--color-white-base);
    padding: 3px 5px 5px 5px;
}

.btn_program {
    width: 336px;
    padding: 5px 13px;
    border: none;
    border-radius: 5px;
}

.agregation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn_agregation {
    width: 100%;
}

#container-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container-table i {
    font-size: 37px;
    color: var(--color-red);
}

.container-title-table {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

h3 {
    margin: 0;
}

.container_question {
    display: flex;
    height: 60px;
}

.container_question p {
    margin: 0;
    align-self: center;
}

.slider_params {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slider_params label{
    width: 20%;
    text-align: center;
    margin: 0 10px;

}

#score {
    width: 90%;
}